<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <th>Title
      <a href="?sort=title">↑</a>
      <a href="?sort=title&reverse=true">↓</a>
    </th>
    <th>Rating
      <a href="?sort=rating">↑</a>
      <a href="?sort=rating&reverse=true">↓</a>
    </th>
    <th>Release date
      <a href="?sort=release_date">↑</a>
      <a href="?sort=release_date&reverse=true">↓</a>
    </th>
    <th>Options</th>
  </thead>
  <tbody>
  <% 
    ms = @movies
    if params[:sort]
      ms = ms.sort_by do |movie|
        movie.send(params[:sort])
      end
    end
    if params[:reverse]
      ms.reverse!
    end

  ms.each do |movie| %>
    <tr>
    <%= render movie %>
    <td>
      <%= link_to "Show this movie", movie %>
    </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <th>Title</th><th>Rating</th><th>Description</th><th>Release date</th><th>Options</th>
  </tfoot>
</table>

<%= link_to "New movie", new_movie_path %>
